interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - 2025-06-30.basil
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_G3RryQUasJG0Jw
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\":
        \"No such customer: 'cus_G3RryQUasJG0Jw'\",\n    \"param\": \"id\",\n    \"request_log_url\":
        \"https://dashboard.stripe.com/test/logs/req_h10nW2HdM9AdAB?t=1753144431\",\n
        \   \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-06-30.basil
      X-Wc:
      - ABGHIJ
    status:
      code: 404
      message: Not Found
version: 1
